ion-card {
  margin-bottom: 12px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);

  h3 {
    margin: 0;
    font-weight: 600;
  }
  p {
    margin: 0;
    color: #6b7280;
  }
}

.legend {
  font-size: 12px;
  color: #6b7280;

  .blue-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: blue;
    // border-radius: 50%;
    margin-right: 4px;
  }
  .gray-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: gray;
    // border-radius: 50%;
    margin: 0 4px;
  }
  .dark-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: black;
    // border-radius: 50%;
    margin: 0 4px;
  }
}


.cursor-pointer {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
}
td {
  border-bottom: 1px solid #e5e7eb;
}
tr:last-child td {
  border-bottom: none;
}
