ion-card {
  margin-bottom: 12px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

  h3 {
    margin: 0;
    font-weight: 600;
  }
  p {
    margin: 0;
    color: #6b7280;
  }
}

.legend {
  font-size: 12px;
  color: #6b7280;

  .blue-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: blue;
    // border-radius: 50%;
    margin-right: 4px;
  }
  .gray-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: gray;
    // border-radius: 50%;
    margin: 0 4px;
  }
  .dark-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: black;
    // border-radius: 50%;
    margin: 0 4px;
  }
}

.cursor-pointer {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
}
td {
  border-bottom: 1px solid #e5e7eb;
}
tr:last-child td {
  border-bottom: none;
}

// SPINNER STYLES

// Custom Spinner Styles
.spinner-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  height: 50vh;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: black; // Your brand color
  animation: bounce 1.4s infinite ease-in-out both;
}

.circle1 {
  animation-delay: -0.32s;
}

.circle2 {
  animation-delay: -0.16s;
}

.circle3 {
  animation-delay: 0s;
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0.8);
    opacity: 0.5;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
}

// Error and Loading States
.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
  height: 50vh;
}

.error-icon {
  font-size: 3rem;
  color: var(--ion-color-danger);
  margin-bottom: 1rem;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}
