<ion-header>
  <app-scouter-header
    [class.header-hidden]="headerHidden"
    [class.header-visible]="!headerHidden"
  >
  </app-scouter-header>
</ion-header>

<ion-content class="ion-padding">
  <div
    class="paid-dark-card-background relative rounded-lg p-6 mb-6 overflow-hidden"
  >
    <!-- <div class="background absolute inset-0 bg-black bg-opacity-0 z-0"></div> -->

    <div class="flex items-center gap-5 mb-3 text-white">
      <ion-icon class="h-7 w-7" name="information-circle-outline"></ion-icon>
      <span class="font-semibold text-[24px] leading-tight"
        >Conclude Your Hiring Process</span
      >
    </div>
  </div>

  <p
    class="text-[#000000] text-[18px] font-medium border border-gray-300 bg-gray-50 px-5 py-3 rounded-md"
  >
    Preferred Skill Needed
  </p>

  <div
    class="flex justify-between items-center text-[#000000] text-[16px] font-medium mt-6"
  >
    <span>Selected Skill </span>
    <span>Pricing</span>
  </div>

  <!-- skill-set-tab.component.html -->
  <table class="min-w-full border border-gray-200 text-sm py-6">
    <tbody>
      <tr
        *ngFor="let skill of selectedSkills"
        class="hover:bg-gray-50 border-b flex justify-between items-center"
      >
        <td class="px-3 sm:px-6 py-6 flex items-center gap-2 sm:gap-3">
          <img [src]="images.SkillSetIcon" alt="👉" />
          <div>
            <p class="text-sm sm:text-base font-medium text-gray-900">
              {{ skill.jobTitle }}
            </p>
            <p class="text-xs sm:text-sm text-gray-500">
              {{ skill.skillLevel || "N/A" }}
            </p>
          </div>
        </td>
        <td
          class="px-3 sm:px-6 py-3 text-xs sm:text-sm font-semibold text-gray-600 whitespace-nowrap"
        >
          {{ skill.amount | currency : "₦" }}
        </td>
      </tr>
    </tbody>
  </table>

  <div class="text-right py-6 font-semibold">
    Σ Total: {{ totalPrice | currency : "₦" }}
  </div>

  <p
    class="text-[#000000] text-[18px] font-medium border border-gray-300 bg-gray-50 px-5 py-3 rounded-md"
  >
    Kindly Complete the details below
  </p>

  <form class="mt-10 space-y-4">
    <div class="space-y-3">
      <label>Purpose of scouting for professionals</label>
      <textarea
        [(ngModel)]="formData.purpose"
        name="purpose"
        rows="6"
        class="w-full resize-none placeholder:text-gray-400 text-[18px] font-medium border border-gray-300 bg-gray-50 rounded-md p-3"
        placeholder="Write the job description here.."
        required
        [disabled]="isFormDisabled"
      ></textarea>
    </div>

    <div class="space-y-3">
      <label>Input amount you intend to pay</label>
      <input
        [ngModel]="formData.amount | number : '1.0-0'"
        (ngModelChange)="onAmountChange($event)"
        name="amount"
        placeholder="1,000,000"
        class="py-2 px-2 w-full placeholder:text-gray-400 text-[18px] font-medium border border-gray-300 bg-gray-50 rounded-md"
        type="text"
        required
        [disabled]="isFormDisabled"
      />
    </div>

    <div class="space-y-3">
      <label>Choose a start date for the talent to commence work</label>
      <input
        [(ngModel)]="formData.startDate"
        name="startDate"
        class="py-2 px-2 w-full placeholder:text-gray-400 text-[18px] font-medium border border-gray-300 bg-gray-50 rounded-md"
        type="date"
        required
        [disabled]="isFormDisabled"
      />
    </div>

    <div class="space-y-2 mt-6">
      <!-- Show only Preview before confirmation -->
      <button
        *ngIf="!previewConfirmed"
        type="button"
        class="bg-[#000000] py-2 w-full mx-auto rounded-lg text-white disabled:bg-gray-400"
        [disabled]="!isFormValid || isFormDisabled"
        (click)="previewData()"
      >
        Proceed
      </button>

      <!-- After preview clicked -->
      <ng-container *ngIf="previewConfirmed">
        <button
          type="button"
          class="bg-[#000000] py-2 w-full mx-auto rounded-lg text-white"
          (click)="hireTalent()"
        >
          Hire Talent
        </button>

        <button
          *ngIf="!isUpdated"
          type="button"
          class="bg-[#000000] py-2 w-full mx-auto rounded-lg text-white"
          (click)="updateRecord()"
          [disabled]="isFormDisabled"
        >
          Update Record
        </button>
      </ng-container>
    </div>
  </form>

  <!-- Preview Modal -->
  <ion-modal [isOpen]="isPreviewOpen" (didDismiss)="closePreview()">
    <ng-template>
      <!-- <ion-header>
        <ion-toolbar>
          <ion-title>Preview Hiring Details</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closePreview()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header> -->

      <ion-content class="ion-padding">
        <!-- <ion-content class="ion-padding bg-white"> -->
        <!-- Modal Container -->
        <div class="bg-white rounded-xl overflow-hidden shadow-md">
          <!-- Modal Header -->
          <div class="bg-white px-6 py-5 flex flex-col justify items-center">
            <img [src]="images.VerifiedIconUpdateProfile" alt="" />
            <h2 class="text-lg font-semibold text-[#383a3e]">Hire Talent</h2>
          </div>

          <!-- Modal Body -->
          <div class="px-6 py-5 text-center">
            <p class="text-[#383a3e] font-medium mb-2">
              Are you sure you want to hire this talent?
            </p>
            <p class="text-sm text-gray-500 mb-4">
              Some actions are irreversible
            </p>
          </div>

          <!-- Modal Footer -->
          <div class="px-6 py-4 bg-white flex flex-col gap-3 justify-">
            <button
              fill="solid"
              class="rounded-md bg-[#000000] text-white py-2"
              (click)="confirmPreview()"
            >
              Yes
            </button>

            <ion-button
              class="rounded-md shadow-lg w-full text-black"
              fill="clear"
              (click)="onCancel()"
            >
              No
            </ion-button>
          </div>
        </div>
        <!-- </ion-content> -->
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
