.paid-dark-card-background {
  background-image: url("/assets/images/Profile-Information-BG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
// inset-0 bg-black bg-opacity-0 z-0

// .background {
//   background-color: black;
//   inset: 0;
//   opacity: 0;
//   z-index: 0;
// }
