//.loading-spinner {
//  position: fixed;
//  height: 100vh;
//  left: 50%;
//  top: 50%;
//  z-index: 99;
//  background-color: transparent;
//  text-align: center;
//  padding: 20px;
//
//  .loader-text {
//    display: block;
//    font-size: 14px;
//    color: #101323;
//  }
//}
//
//.backdrop {
//  position: fixed;
//  left: 0px;
//  top: 0px;
//  //   width: 100%;
//  //   height: 100%;
//  background-color: rgba(255, 255, 255, 0.9);
//  z-index: 98;
//}
//
//
//.loader {
//  width: 48px;
//  height: 48px;
//  border-radius: 50%;
//  display: inline-block;
//  position: relative;
//  border: 3px solid;
//  border-color: #101323 #101323 transparent transparent;
//  box-sizing: border-box;
//  animation: rotation 1s linear infinite;
//}
//.loader::after,
//.loader::before {
//  content: '';
//  box-sizing: border-box;
//  position: absolute;
//  left: 0;
//  right: 0;
//  top: 0;
//  bottom: 0;
//  margin: auto;
//  border: 3px solid;
//  border-color: transparent transparent #101323 #101323;
//  width: 40px;
//  height: 40px;
//  border-radius: 50%;
//  box-sizing: border-box;
//  animation: rotationBack 0.5s linear infinite;
//  transform-origin: center center;
//}
//.loader::before {
//  width: 32px;
//  height: 32px;
//  border-color: #101323 #101323 transparent transparent;
//  animation: rotation 1.5s linear infinite;
//}
//
//@keyframes rotation {
//  0% {
//    transform: rotate(0deg);
//  }
//  100% {
//    transform: rotate(360deg);
//  }
//}
//@keyframes rotationBack {
//  0% {
//    transform: rotate(0deg);
//  }
//  100% {
//    transform: rotate(-360deg);
//  }
//}
//


.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6); // dark background
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  position: relative;
  width: 80px;
  height: 80px;
}

.circle {
  position: absolute;
  border: 4px solid transparent;
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}

.circle1 {
  width: 80px;
  height: 80px;
  border-top-color: #ffffff;
}

.circle2 {
  width: 60px;
  height: 60px;
  top: 10px;
  left: 10px;
  border-top-color: #cccccc;
  animation-delay: 0.2s;
}

.circle3 {
  width: 40px;
  height: 40px;
  top: 20px;
  left: 20px;
  border-top-color: #999999;
  animation-delay: 0.4s;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner-text {
  color: #ffffff;
  font-weight: bold;
  margin-top: 16px;
  font-size: 1.1rem;
  text-align: center;
}


