<form class="space-y-4">
  <ion-input
    placeholder="Enter your first and last name"
    [(ngModel)]="fullName"
    name="fullName"
    required
  ></ion-input>

  <ion-input
    placeholder="Enter your Phone Number"
    [(ngModel)]="phone"
    name="phone"
    required
  ></ion-input>

  <ion-input
    placeholder="Enter your Email Address"
    [(ngModel)]="email"
    name="email"
    type="email"
  ></ion-input>

  <ion-input
    placeholder="Enter your Location"
    [(ngModel)]="location"
    name="location"
  ></ion-input>

  <div class="flex flex-col gap-2 mt-6">
    <ion-button
      expand="block"
      color="dark"
      (click)="onNext()"
      [disabled]="!formValid()"
    >
      Next
    </ion-button>
    <ion-button expand="block" fill="clear" color="medium">Cancel</ion-button>
  </div>
</form>
