<!-- <body>

        <div class="login-container p-8 ml-4 ">
            <h2 class="font-semibold hidden lg:block">
                Enter your personal details
            </h2>
            <form [formGroup]="personalDetailsForm">
                <div class="mb-2 text-xs">
                    <label for="username" class="block mb-2">Full Name</label>
                    <input type="text" placeholder="input your full name" formControlName="fullName"  class="w-full px-3 py-2 border rounded-md text-xs">
                </div>

                <div class="mb-2 text-xs">
                    <label for="username" class="block mb-2">Phone Number</label>
                    <input type="text" placeholder="e.g 09031232343" formControlName="phoneNumber" class="w-full px-3 py-2 border rounded-md text-xs">
                </div>

                <div class="mb-2 text-xs">
                    <label for="username" class="block mb-2">Education Background</label>
                    <select formControlName="educationalBackground"
                        class="bg-white cursor-pointer border text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option *ngFor="let item of educationalBackground">
                            <span>{{item}}</span>
                        </option>
                    </select>

                </div>

                <div class="mb-2 text-xs">
                    <label for="username" class="block mb-2">Location or address</label>
                    <input type="text" placeholder="input your location, address or nearest busstop" formControlName="address" class="w-full px-3 py-2 border rounded-md text-xs">
                </div>
    <br>
                <div class="mb-2 text-xs">
                    <div class="flex space-x-4">
                        <button (click)="cancelClicked($event)" class="bg-white hover:bg-[#101323] text-[#101323] hover:text-white font-bold py-2 px-4 rounded">Cancel</button>
                        <button (click)="nextClicked($event)" [disabled]="!personalDetailsForm.valid" [ngStyle]="{ 'background-color': !personalDetailsForm.valid ? '#CDD5DF' : '#101323' }" class="bg-[#101323] hover:bg-[#101323] text-white font-bold py-2 px-4 rounded">Next</button>
                      </div>

                </div>


            </form>
        </div>


</body> -->
