@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); // shift by half since we duplicated texts
  }
}

.animate-marquee {
  display: inline-flex;
  animation-name: marquee;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
