<ion-header>
  <app-scouter-header></app-scouter-header>
</ion-header>

<ion-content class="ion-padding">
  <!-- Top card -->
  <div
    class="paid-dark-card-background relative rounded-lg px-4 py-10 mb-6 overflow-hidden"
  >
    <div class="relative z-10 text-white">
      <div class="flex items-start gap-3">
        <img [src]="images.ViewHireFolderIcon" alt="" />
        <div class="items-center">
          <span class="font-medium text-[24px] leading-tight">
            Hi Viki West,
          </span>
          <p class="text-gray-200 text-lg leading-relaxed">
            View specific details of your fund deposit request.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="space-y-5">
    <div
      class="space-y-5 bg-[#F8FAFC] border-[1px] border-[#E3E5EA] text-center py-6 rounded-lg shadow-lg"
    >
      <div class="">
        <h4 class="text-[20px] text-[#101828] font-semibold">
          Designated Wallet Name
        </h4>
        <p class="text-[16px] text-[#919194] font-normal">
          {{ deposit?.walletName }}
        </p>
      </div>
    </div>
    <div
      class="bg-[#F8FAFC] border-[1px] border-[#E3E5EA] text-center py-6 rounded-lg shadow-lg"
    >
      <div class="">
        <h4 class="text-[20px] text-[#101828] font-semibold">
          Designated Wallet Account
        </h4>
        <p class="text-[16px] text-[#919194] font-normal">
          {{ deposit?.walletAcctNo }}
        </p>
      </div>
    </div>
    <div
      class="space-y-5 bg-[#F8FAFC] border-[1px] border-[#E3E5EA] text-center py-6 rounded-lg shadow-lg"
    >
      <div class="">
        <h4 class="text-[20px] text-[#101828] font-semibold">
          Amount Deposited
        </h4>
        <p class="text-[16px] text-[#919194] font-normal">
          ₦{{ deposit?.amount | number }}
        </p>
      </div>
    </div>
    <div
      class="space-y-5 bg-[#F8FAFC] border-[1px] border-[#E3E5EA] text-center py-6 rounded-lg shadow-lg"
    >
      <div class="">
        <h4 class="text-[20px] text-[#101828] font-semibold">
          Deposit Identifiers
        </h4>
        <p class="text-[16px] text-[#919194] font-normal">
          {{ deposit?.identifier }}
        </p>
      </div>
    </div>
    <div
      class="space-y-5 bg-[#F8FAFC] border-[1px] border-[#E3E5EA] text-center py-6 rounded-lg shadow-lg"
    >
      <div class="">
        <h4 class="text-[20px] text-[#101828] font-semibold">
          Agreed to terms
        </h4>
        <p class="text-[16px] text-[#919194] font-normal">Yes</p>
      </div>
    </div>
    <div
      class="space-y-5 bg-[#F8FAFC] border-[1px] border-[#E3E5EA] text-center py-6 rounded-lg shadow-lg"
    >
      <div class="">
        <h4 class="text-[20px] text-[#101828] font-semibold">Payment Status</h4>

        <span *ngIf="deposit as d">
          <span
            [ngClass]="[
              'rounded-full h-2 w-2 inline-block',
              d.status === 'Successful' ? 'bg-[#057A55]' : '',
              d.status === 'Invalid' ? 'bg-[#EB0B00]' : '',
              d.status === 'Failed' ? 'bg-[#EB0B00]' : '',
              d.status === 'Reversed' ? 'bg-[#0033FF]' : ''
            ]"
          ></span>
          {{ d.status }}
        </span>
      </div>
    </div>
    <div
      class="space-y-5 bg-[#F8FAFC] border-[1px] border-[#E3E5EA] text-center py-6 rounded-lg shadow-lg"
    >
      <div class="">
        <h4 class="text-[20px] text-[#101828] font-semibold">
          Date of Deposit Request
        </h4>
        <p class="text-[16px] text-[#919194] font-normal">
          {{ deposit?.date | date : "MMM d, y h:mma" }}
        </p>
      </div>
    </div>
    <div
      class="space-y-5 bg-[#F8FAFC] border-[1px] border-[#E3E5EA] text-center py-6 rounded-lg shadow-lg"
    >
      <div class="">
        <h4 class="text-[20px] text-[#101828] font-semibold">
          Deposit Reference ID
        </h4>
        <p class="text-[16px] text-[#919194] font-normal">
          0447429947-Jul 1, 2025, 7:34 AM-0325062797
        </p>
      </div>
    </div>
    <div
      class="space-y-5 bg-[#F8FAFC] border-[1px] border-[#E3E5EA] text-center py-6 rounded-lg shadow-lg"
    >
      <div class="">
        <h4 class="text-[20px] text-[#101828] font-semibold">
          Reason for Deposit
        </h4>
        <p class="text-[16px] text-[#919194] font-normal">
          {{ deposit?.reason }}
        </p>
      </div>
    </div>
  </div>

  <!-- THEN A VERSION OF THE RECIEPT GENERATED GOES HERE -->
  <div class="p-4 mt-10">
    <div
      id="receipt"
      class="bg-white w-full h-full mx-auto shadow-md rounded-md"
    >
      <!-- <ion-header> -->
      <!-- HEADER -->
      <div
        class="logcomplainModalBG flex justify-center items-center px- py-2 border-b bg-[#1A1A1A] rounded-t-xl"
      >
        <h2 class="text-lg font-bold text-white">Funds Deposit Receipt</h2>
      </div>

      <div class="px-4 py-6">
        <!-- </ion-header> -->
        <!-- Powered by -->
        <h3 class="w-full mx-auto p-3 text-[#49536E] text-[16px] text-center">
          Powered by Shoft Africa ❤️
        </h3>

        <!-- Gradient Bar -->
        <div
          class="w-full h-2 rounded-full my-4"
          style="
            background: linear-gradient(to right, #daa21f, #cc0000, #057a55);
          "
        ></div>

        <!-- Parties -->
        <div class="space-y-2">
          <div
            class="flex justify-between items-center text-[#49536E] text-[12px]"
          >
            <span>From</span>
            <span>To</span>
          </div>
          <div
            class="flex justify-between items-center text-[#101828] text-[12px] font-semibold"
          >
            <span>{{ deposit?.walletName || "User Wallet" }}</span>
            <span>Shoft Africa Incorporated</span>
          </div>
          <div
            class="flex justify-between items-center text-[12px] text-[#49536E]"
          >
            <span>Wallet ID: {{ deposit?.walletAcctNo }}</span>
            <span>Wallet ID: 0325062797</span>
          </div>
        </div>

        <!-- Transaction Details -->
        <div
          class="space-y-4 mt-6 bg-[#F3F4F6] px-4 py-4 rounded-lg text-[#49536E] text-[12px]"
        >
          <p class="flex justify-between items-center">
            <span>Amount Deposited</span>
            <span class="text-[13px] text-[#057A55] font-semibold">
              ₦{{ deposit?.amount | number }}
            </span>
          </p>
          <p class="flex justify-between items-center">
            <span>Transaction ID</span>
            <span>{{ referenceId }}</span>
          </p>
          <p class="flex justify-between items-center">
            <span>Date</span>
            <span>{{ deposit?.date | date : "MMM d, y, h:mma" }}</span>
          </p>
          <p class="flex justify-between items-center">
            <span>Status</span>

            <span *ngIf="deposit as d">
              <span
                [ngClass]="[
                  '',
                  d.status === 'Successful' ? 'text-[#057A55]' : '',
                  d.status === 'Invalid' ? 'text-[#EB0B00]' : '',
                  d.status === 'Failed' ? 'text-[#EB0B00]' : '',
                  d.status === 'Reversed' ? 'text-[#0033FF]' : ''
                ]"
              >
                {{ d.status }}
              </span>
            </span>
          </p>
        </div>

        <!-- Footer -->
        <div class="w-full mx-auto mt-6 text-center">
          <p class="p-3 text-[#49536E] text-[16px]">
            Thanks for trusting Oniduuru ∯
          </p>

          <p class="text-[#968A64] text-[12px]">
            <span>#Secure.</span><span>#Fast.</span><span>#ProudlyAfrican</span>
          </p>
        </div>
      </div>

      
    </div>
    <button
      (click)="downloadReceipt()"
      class="bg-[#101828] text-white px-6 py-2 text-[20px] font-medium rounded-lg mt-10"
    >
      Download Receipt
    </button>
  </div>
</ion-content>
