<form class="space-y-4">
  <ion-input placeholder="Email Address" [(ngModel)]="email" name="email" type="email" required></ion-input>

  <ion-input placeholder="Create a Password" [(ngModel)]="password" name="password" type="password" required></ion-input>

  <ion-input placeholder="Confirm Password" [(ngModel)]="confirmPassword" name="confirmPassword" type="password" required></ion-input>

  <div class="flex flex-col gap-2 mt-6">
    <ion-button expand="block" color="dark" (click)="onNext()" [disabled]="!formValid()">Next</ion-button>
    <ion-button expand="block" fill="outline" (click)="onPrevious()">Previous</ion-button>
  </div>
</form>
