body{
  font-family: 'Euclid Circular A';
  background-image: url('/assets/images/bg-image.png');
  background-size: cover;
  background-position: center;
}

div,p,span,a,h1,h2,h3,h4,h5,h6,button{
  font-family: 'Euclid Circular A';
}
