.navbar {
  background-color: #A3A7A899; // rgba(0, 0, 0, 0.2);
  border: 1px solid #1018280D;
  /* Add a 1px solid black border */
}

.example-spacer {
  flex: 1 1 auto;
}

body {
  font-family: 'Euclid Circular A';
  background-image: url('/assets/images/bg-image.png');
  background-size: cover;
  background-position: center;
  // background-color: transparent;
}

/* component.scss */
.disabled-btn {
  --background: #CDD5DF;
}

.active-btn {
  --background: #101323;
}
