<ion-header class="shadow-none border-b border-gray-200">
  <ion-toolbar class="flex justify-between items-center px-4">
    <div class="w-full flex justify-between items-center px-4 py-2">
    <button class="text-2xl font-semibold text-[#101828]">∯ Oniduuru</button>

    <div class="flex items-center gap-4">
      <button
        (click)="goBack()"
        class="shadow-2xl px-5 py-2 rounded-xl border-2 border-white bg-[#101828] text-white"
      >
        Back
      </button>
    </div>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content class="px-4 mt-4">
  <div class="py-4 px-4 bg-[#F1F1F1] text-[#101828] text-[24px]">
    <span>Create an account</span>
  </div>
  <!-- Tabs -->
  <div class="flex border-b border-gray-300 text-sm font-medium mb-6">
    <button
      *ngFor="let step of steps; let i = index"
      class="flex-1 text-center py-2 relative"
      [ngClass]="{
        'text-red-600 font-semibold after:absolute after:bottom-0 after:left-0 after:right-0 after:h-[2px] after:bg-red-600': currentStep === i,
        'text-gray-500': currentStep !== i
      }"
    >
      {{ step.label }}
    </button>
  </div>

  <!-- Step Components -->
  <ng-container [ngSwitch]="currentStep">
    <app-talent-details
      *ngSwitchCase="0"
      (next)="goNext()"
    ></app-talent-details>

    <app-other-details
      *ngSwitchCase="1"
      (previous)="goPrevious()"
      (next)="goNext()"
    ></app-other-details>

    <app-login-credentials
      *ngSwitchCase="2"
      (previous)="goPrevious()"
      (next)="goNext()"
    ></app-login-credentials>

    <app-verify-credentials
      *ngSwitchCase="3"
      (previous)="goPrevious()"
      (completed)="finishOnboarding()"
    ></app-verify-credentials>
  </ng-container>
</ion-content>
