<!-- view-all-talents-switch-tab.component.html -->
<div class="flex border-b border-gray-300 mb-4 overflow-x-auto scrollbar-hide">
  <button
    *ngFor="let tab of tabs"
    class="min-w-[150px] px-4 py-5 text-center font-medium text-sm transition relative flex-shrink-0"
    [ngClass]="
      activeTab === tab.key
        ? 'text-[#0033FF] after:absolute after:bottom-0 after:left-0 after:right-0 after:h-[2px] after:bg-[#0033FF]'
        : 'text-gray-500'
    "
    (click)="setTab(tab.key)"
  >
    {{ tab.label }}
  </button>
</div>

<div *ngIf="activeTab === 'skillSet'">
  <app-skill-set-tab
    [skillSet]="skillSet"
    [selectedSkills]="selectedSkills"
    (skillSelectionChanged)="onSkillSelectionChanged($event)"
  ></app-skill-set-tab>
</div>

<div *ngIf="activeTab === 'reelsAndDocumentation'">
  <app-reels-and-documentation-tab
    [pictorialDocumentations]="pictorialDocumentations"
    [hire]="hire"
  ></app-reels-and-documentation-tab>
</div>

<div *ngIf="activeTab === 'recentReviews'">
  <app-recent-reviews-tab
    [marketReviews]="marketReviews"
    [hire]="hire"
  ></app-recent-reviews-tab>
</div>