<!-- app.component.html -->
<ion-app>
  <!-- Shared Dynamic Wallet Menu -->
  <ion-menu *ngIf="showWalletMenu()" side="start" menuId="wallet-menu" contentId="main-content"
            class="scouter-menu-bg">
    <ion-header>
      <ion-toolbar class="menu-toolbar">
        <ion-title class="menu-title">Wallets (₦)</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list class="px-4 flex flex-col gap-2">
        <ion-item
          *ngFor="let item of filteredWalletMenuItems"
          button
          class="menu-button"
          (click)="item.action()"
        >
          <ion-label>{{ item.label }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Main Content -->
  <ion-router-outlet id="main-content"></ion-router-outlet>

  <!-- Floating Chat Bot Component -->
  <app-chat-bot></app-chat-bot>
</ion-app>
