<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Profile Settings</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding bg-white rounded-2xl shadow-xl">
  <div class="space-y-3 py-3 px-2">
    <h3 class="text-base font-semibold">Recent Notification</h3>

    <button class="flex gap-3 items-center">
      <ion-icon name="trash-outline"></ion-icon>
      <p>Clear all</p>
    </button>

    <div class="text-center">
      <code>No Notifications</code>
    </div>
  </div>
</ion-content>
