.navbar {
  background-color: #a3a7a899; // rgba(0, 0, 0, 0.2);
  border: 1px solid #1018280d;
  /* Add a 1px solid black border */
}

.example-spacer {
  flex: 1 1 auto;
}

body {
  background-image: url("/assets/images/bg-image.png");
  background-size: cover;
  background-position: center;
}

.text-animation {
  animation: slide-in 2s ease infinite;
  // font-size: 30px;
}

@keyframes slide-in {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

ion-header {
  padding-top: env(safe-area-inset-top);
  background: #111827;
}

ion-toolbar {
  --padding-top: 0;
  --min-height: 64px;
}
