
.logcomplainModalBG {
  background-image: url("/assets/images/Log-complaint-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  --background: transparent; // override Ionic default background
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}