<ion-header>
  <!-- HEADER -->
  <div
    class="logcomplainModalBG flex justify-between items-center px-4 py-3 border-b flex-shrink-0"
  >
    <h2 class="text-lg font-bold text-white">Fund Withdrawal Form</h2>
    <button (click)="closeModal()" class="text-white hover:text-gray-700">
      ✕
    </button>
  </div>
</ion-header>

<ion-content class="ion-padding">
  <form action="">
    <!-- Info Note -->
    <div
      class="flex items-center gap-3 mb-3 bg-[#CDD5DF33] border border-[#33333333] rounded-xl py-4 px-6 mt-[4%]"
    >
      <span class="font-normal text-[16px] leading-tight text-[#444444]">
        Withdraw available funds for from your wallet to your designated bank
        account
      </span>
    </div>

    <!-- Bank Dropdown (use select for simplicity) -->
    <!-- <div class="relative w-full">
      <label>Select NUBAN Bank</label>
      <div class="mt-2">
        <select
          [(ngModel)]="bank"
          name="bank"
          class="border border-[#D9DCE5] rounded-md px-4 py-3 w-full bg-[#F6F6F6]"
        >
          <option [ngValue]="null">Choose a bank</option>
          <option *ngFor="let b of banks" [value]="b">{{ b }}</option>
        </select>
      </div>
    </div> -->

    <div class="space-y-4 mt-6">
      <!-- Year Dropdown -->
      <div class="relative w-[]">
        <div
          class="border border-[#D9DCE5] rounded-md px-4 py-4 bg-[#F6F6F6] flex justify-between items-center cursor-pointer"
          (click)="toggleBankDropdown()"
        >
          <span class="text-[#101828] text-[14px]">
            {{ selectedBank || "Select NUBAN Bank" }}
          </span>
          <ion-icon
            [name]="
              isBankDropdownOpen ? 'chevron-up-outline' : 'chevron-down-outline'
            "
          ></ion-icon>
        </div>
        <div
          *ngIf="isBankDropdownOpen"
          class="absolute mt-2 bg-white border rounded-md shadow-md w-full z-10 overflow-y-auto max-h-60"
        >
          <p
            *ngFor="let bank of banks"
            class="px-4 py-2 hover:bg-gray-100 cursor-pointer"
            (click)="selectBank(bank)"
          >
            {{ bank }}
          </p>
        </div>
      </div>
    </div>

    <!-- Account -->
    <div class="space-y-2 mt-8">
      <label class="text-[#344054] text-[14px]">Input Account Number</label>
      <input
        type="text"
        [(ngModel)]="accountNumber"
        name="accountNumber"
        placeholder="3056578914"
        class="border border-[#D9DCE5] px-3 py-4 w-full rounded-lg bg-white placeholder:text-gray-300"
      />
    </div>

    <!-- Amount -->
    <div class="space-y-2 mt-8">
      <label class="text-[#344054] text-[14px]">Input Amount to Withdraw</label>
      <input
        type="number"
        [(ngModel)]="amount"
        name="withdrawAmount"
        placeholder="₦ 700,000"
        class="border border-[#D9DCE5] px-3 py-4 w-full rounded-lg bg-white placeholder:text-gray-300"
      />
    </div>
    <!-- Info Note -->
    <div
      class="flex items-center gap-3 mb-3 bg-[#DDE3EC] border border-[#A3AFE3] rounded-xl py-4 px-6 mt-[10%]"
    >
      <ion-icon
        class="h-7 w-[15%] text-blue-700"
        name="information-circle"
      ></ion-icon>
      <span class="font-normal text-[16px] leading-tight text-[#1E4E99]">
        Important!: Due to bank Charges, a 200.00 charge shall be deducted from
        this transaction.
      </span>
    </div>

    <!-- Agreement -->
    <div class="flex items-center gap-4 text-[#101828] mt-8">
      <input type="checkbox" [(ngModel)]="agreed" name="agreed" />
      <div>
        I agree with <span class="text-[#0033FF]">terms and conditions</span>
      </div>
    </div>
  </form>

  <!-- Submit Button -->
  <div class="bg-white mt-10 pt-2 pb-16 flex justify-end">
    <button
      (click)="submitWithdrawal()"
      class="px-4 py-2 w-full text-center bg-gray-800 text-white rounded-lg hover:bg-gray-700"
    >
      Create Fund Withdrawal
    </button>
  </div>
</ion-content>
