<ion-content
  class="ion-padding bg-white rounded-2xl shadow-xl w-[260px] py-8 px-6 space-y-6"
>
  <!-- Profile -->
  <button
    (click)="openProfilePage()"
    class="flex w-full items-center gap-3 text-base hover:text-primary transition"
  >
    <ion-icon name="person-outline" class="text-lg"></ion-icon>
    <span>Profile</span>
  </button>

  <!-- Account Activation -->
  <button
    (click)="openActivationPage()"
    class="flex w-full items-center gap-3 text-base hover:text-primary transition"
  >
    <ion-icon name="checkmark-done-outline" class="text-lg"></ion-icon>
    <span>Account Activation</span>
  </button>

  <!-- Log Complaint -->
  <button
    (click)="openComplaintModal()"
    class="flex w-full items-center gap-3 text-base hover:text-primary transition"
  >
    <ion-icon name="sad-outline" class="text-lg"></ion-icon>
    <span>Log Complaint</span>
  </button>

  <!-- Logout -->
  <button
    (click)="logoutUser()"
    class="flex w-full items-center gap-3 text-base text-red-500 hover:text-red-600 transition"
  >
    <ion-icon name="log-out-outline" class="text-lg"></ion-icon>
    <span>Logout</span>
  </button>
</ion-content>
