:host {
  ion-content {
    --background: #ffffff; // page background
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

ion-button {
  --border-radius: 8px;
  font-size: 14px;
}
.ion-btn--successgreen {
  --background: #057a55;
  --background-activated: #046b48;
  --color: #fff;
}

:host {
  .confirmation-modal {
    --width: 100%;
    --max-width: 400px;
    --height: fit-content;
    --border-radius: 16px;
  }
}
