<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Profile Settings</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<div class=" bg-white rounded-2xl shadow-xl ">
  <div class="space-y-10 py-3 ">
    <div class="space-y-3">
      <h3 class="text-base font-semibold px-4">Recent Notification</h3>

      <button class="flex gap-3 items-center px-4">
        <ion-icon name="trash-outline"></ion-icon>
        <p>Clear all</p>
      </button>
    </div>

    <div class="text-center">
      <code>🌚 No Notifications</code>
    </div>
  </div>
</div>
