.paid-dark-card-background {
  background-image: url("/assets/images/PainDashboardBG.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

// /* wallet-profile.component.scss */
// ion-select.custom-select {
//   --padding-start: 12px;
//   --padding-end: 12px;
//   --min-height: 48px;
//   --border-color: #d9dce5;
//   --background: #ffffff;
//   border-radius: 0.375rem;
//   border: 1px solid #d9dce5;
//   box-shadow: 0 4px 8px rgba(16, 24, 40, 0.04);
//   font-size: 14px;
// }


