<ion-header>
  <app-talent-header [class.header-hidden]="headerHidden" [class.header-visible]="!headerHidden">
  </app-talent-header>
</ion-header>

<ion-content class="ion-padding" #pageContent>
  <div class="bg-[#F2F4F7]">

    <!-- Reminder Cards -->
    <div class="space-y-4 mt-10">
      <div
        class="relative rounded-lg p-6 mb-6 overflow-hidden bg-[url('/assets/images/dark-card-background.jpg')] bg-cover bg-center">
        <div class="absolute inset-0 bg-black bg-opacity-70 "></div>
        <div class="relative z-10 text-white">
          <div class="flex items-center gap-3 mb-3">
            <ion-icon class="h-7 w-7" name="information-circle-outline"></ion-icon>
            <span class="font-normal text-[16px] leading-tight">
              Why haven’t created your security question yet?
            </span>
          </div>
          <ion-button fill="clear" class="bg-transparent border border-white rounded-lg text-white"
            (click)="scrollToProfilePicture()">
            Create Security Questions
          </ion-button>
        </div>
      </div>
    </div>

    <!-- Personal Information -->
    <div class="mt-12">

      <div class="relative h-[69px] pt-2 bg-[url('/assets/images/Profile-Information-BG.jpg')] bg-cover bg-center">
        <!-- Dark Overlay -->
        <div class="absolute inset-0 bg-black/60"></div>

        <!-- Text -->
        <p class="relative text-white text-xl font-bold mt-3 px-5">
          Personal Information
        </p>
      </div>


      <div class="p-6">
        <!-- Profile Picture -->
        <!-- Profile Picture -->
        <p class="mt-3 pb-3 text-gray-600" #profilePicture>Profile Picture</p>

        <div class="flex items-center mb-6">
          <!-- Profile Image -->
          <img src="assets/images/talentprofile.png" alt="Profile Picture"
            class="w-28 h-28 rounded-full object-cover border-4 border-gray shadow-md" />
        </div>


        <!-- Full Name -->
        <div class="mb-4">
          <label class="block text-gray-600 text-sm mb-2">Full Name</label>
          <input type="text" [(ngModel)]="talent.fullName" placeholder="Adediji Seyi"
            class="w-full border-none rounded-md px-4 py-2 shadow-md focus:outline-none focus:ring-2 focus:ring-blue-500" />
        </div>

        <!-- Phone Number -->
        <div class="mb-4">
          <label class="block text-gray-600 text-sm mb-2">Enter Your Phone Number</label>
          <input type="number" [(ngModel)]="talent.phone" placeholder="e.g. 0908123456"
            class="w-full border-none rounded-md px-4 py-2 shadow-md focus:outline-none focus:ring-2 focus:ring-blue-500" />
        </div>

        <!-- Email -->
        <div class="mb-4">
          <label class="block text-gray-600 text-sm mb-2">Enter Your Email Address</label>
          <input type="email" [(ngModel)]="talent.email" placeholder="adedijiSamuel@email.com"
            class="w-full border-none rounded-md px-4 py-2 shadow-md focus:outline-none focus:ring-2 focus:ring-blue-500" />
        </div>

        <!-- Password -->
        <div class="mb-4">
          <label class="block text-gray-600 text-sm mb-2">Password</label>
          <input type="password" [(ngModel)]="talent.password" placeholder="****************"
            class="w-full border-none rounded-md px-4 py-2 shadow-md focus:outline-none focus:ring-2 focus:ring-blue-500" />
        </div>

        <!-- Location -->
        <div class="mb-4">
          <label class="block text-gray-600 text-sm mb-2">Enter Your Location</label>
          <input type="text" [(ngModel)]="talent.location" placeholder="e.g. Ikeja, Lagos"
            class="w-full border-none rounded-md px-4 py-2 shadow-md focus:outline-none focus:ring-2 focus:ring-blue-500" />
        </div>
      </div>
    </div>

    <!-- Other Details -->
    <div class="relative h-[69px] pt-2 bg-[url('/assets/images/Profile-Information-BG.jpg')] bg-cover bg-center">
      <!-- Dark Overlay -->
      <div class="absolute inset-0 bg-black/60"></div>

      <!-- Text -->
      <p class="relative text-white text-xl font-bold mt-3 px-5">
        Other Details
      </p>
    </div>


    <!-- Skill Set -->
    <div class="mb-4 mt-3">
      <label class="block text-gray-600 text-sm mb-2"> Your skill set(s):</label>
      <div class="flex flex-wrap gap-2 mb-2">
        <span *ngFor="let skill of skills" class="bg-[#CAD2DF] rounded-lg px-2 py-1 flex items-center gap-1">
          {{ skill }}
          <button
            class="flex items-center justify-center w-5 h-5 rounded-full hover:bg-gray-100 hover:text-red-500 transition-colors"
            (click)="removeSkill(skill)">
            ×
          </button>
        </span>
      </div>
      <input type="text" placeholder="e.g Singing, Painting, Acting..." [(ngModel)]="newSkill"
        (keyup.enter)="addSkill()"
        class="w-full border-none rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 shadow-md" />
    </div>

    <!-- Skill Level -->
    <div class="mb-4">
      <label class="block text-gray-600 text-sm mb-2">Skill Level</label>
      <input type="text" [(ngModel)]="talent.skillLevel" placeholder="Intermediate"
        class="w-full border-none rounded-md px-4 py-2 shadow-md focus:outline-none focus:ring-2 focus:ring-blue-500" />
    </div>

    <!-- Eduactional Background -->
    <div class="mb-4">
      <label class="block text-gray-600 text-sm mb-2">Eduactional Background</label>
      <input type="text" [(ngModel)]="talent.educationalBackground" placeholder="Masters Degree"
        class="w-full border-none rounded-md px-4 py-2 shadow-md focus:outline-none focus:ring-2 focus:ring-blue-500" />
    </div>

    <div class="mb-4">
      <label class="block text-gray-600 text-sm mb-2">Pay Range</label>
      <input type="text" [(ngModel)]="talent.payRange" placeholder="e.g $200 - $500"
        class="w-full border-none rounded-md px-4 py-2 shadow-md focus:outline-none focus:ring-2 focus:ring-blue-500" />
    </div>

    <!--Reels Upload  -->
    <div class="relative h-[69px] pt-2 bg-[url('/assets/images/Profile-Information-BG.jpg')] bg-cover bg-center">
      <!-- Dark Overlay -->
      <div class="absolute inset-0 bg-black/60"></div>

      <!-- Text -->
      <p class="relative text-white text-xl font-bold mt-3 px-5">
        Reels upload
      </p>
    </div>

    <!-- Upload Video -->
    <div class="mb-6">
      <label class="block text-gray-600 text-sm mb-2">Upload Video</label>
      <div
        class="w-full border-2 border-dashed border-gray-400 rounded-lg flex flex-col items-center justify-center p-6 cursor-pointer hover:border-blue-500 transition">
        <ion-icon name="cloud-upload-outline" class="text-3xl text-gray-500 mb-2"></ion-icon>
        <p class="text-gray-500">Drag & drop or click to upload</p>
      </div>
    </div>
    <div class="px-6 py-10">
      <button
        class="bg-[#101828] rounded-lg w-full py-2 text-white font-medium cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed"
        [disabled]="securityQuestions.length < 1" (click)="saveProfile()">
        Save
      </button>
      <button
        class="bg-white shadow-md mt-3 rounded-lg p-3 border border-[#101828]  w-full py-2 text-[#101828] font-medium cursor-pointer"
        (click)="goBack()">
        Return
      </button>
    </div>
    <!-- Security Questions -->
 
    <div class="relative h-[69px] pt-2 bg-[url('/assets/images/Profile-Information-BG.jpg')]   bg-cover bg-center">
     <div class="absolute inset-0 bg-black/60"></div>
      <p class="relative text-white text-xl font-bold mt-3 px-5">
        Create Security Questions
      </p>
    </div>
    <div class="mb-4 px-6 py-6">
      <div class="flex items-center bg-white shadow-md rounded-lg p-3 gap-3 mb-3">
        <ion-icon class="h-7 w-7" name="information-circle-outline"></ion-icon>
        <span class="block text-gray-600 font-normal text-[16px]   mb-2">
          Please note! Update your security questions
        </span>
      </div>

      <div class="px-6">
        <label class="block text-gray-700 ml-14  font-medium mb-3">Questions</label>

        <!-- Question 1 -->
        <div class="flex items-center">
          <img src="assets/icon/Vector (1).png" alt="Answer Icon" class="w-5 h-5 mr-2" />
          <img src="assets/icon/question 1.png" alt="Q1 Icon" class="w-5 h-5 mr-2" />
          <ion-input type="text" placeholder="What is your pet's name" [(ngModel)]="questions[0].question"
            class="border rounded-lg px-3 py-2 flex-1"></ion-input>
        </div>

        <!-- Question 2 -->
        <div class="flex items-center mt-10">
          <img src="assets/icon/Vector (1).png" alt="Answer Icon" class="w-5 h-5 mr-2" />
          <img src="assets/icon/question 1.png" alt="Q1 Icon" class="w-5 h-5 mr-2" />
          <ion-input type="text" placeholder="Where did you meet your spouse" [(ngModel)]="questions[1].question"
            class="border rounded-lg px-3 py-2 flex-1"></ion-input>
        </div>
      </div>

      <!-- Answers -->
      <div class="px-6 mt-5">
        <label class="block text-gray-700 ml-14 font-medium">Answers</label>

        <!-- Answer 1 -->
        <div class="mt-2  ml-[52px] flex">
          <ion-input type="text" placeholder="Enter answer" [(ngModel)]="questions[0].answer"
            class="border rounded-lg px-3 py-2 flex-1"></ion-input>
        </div>

        <!-- Answer 2 -->
        <div class="mt-10  ml-[52px] flex">
          <ion-input type="text" placeholder="Enter answer" [(ngModel)]="questions[1].answer"
            class="border rounded-lg px-3 py-2 flex-1"></ion-input>
        </div>
      </div>

      <!-- Save Button -->
      <div class="px-6 py-10 flex justify-center">
        <button
          class="bg-[#101828] w-96 rounded-lg  py-2 text-white font-medium cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed"
          [disabled]="questions.length < 1" (click)="saveProfile()">
          Save
        </button>
      </div>
    </div>

    <!-- </div> -->
  </div>


  <!-- Fixed Footer -->
  <footer class="mt-auto py-5">
    <div class="container mx-auto px-4 text-left text-gray-600">
      <p>Shoft Africa © {{ currentYear }}</p>
    </div>
  </footer>
  <div class="fixed bottom-0 left-0 right-0 border-t border-gray-300"></div>

</ion-content>