.paid-dark-card-background {
  background-image: url("/assets/images/PainDashboardBG.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.paid-dark-card-background::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5); /* just dims the image */
  z-index: 0;
}

.no-padding-bg {
  --background: #eef0f6; /* sets ion-content background */
  padding: 0 !important; /* kills default padding */
}

#talentsMap {
  height: 65vh;
  width: 100%;
  overflow: hidden;
}

.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 180px;
}

.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}

/* hide attribution / watermark */
.ol-attribution,
.ol-attribution.ol-uncollapsible {
  display: none !important;
}

.hidden {
  display: none;
}
