<ion-header>
  <app-scouter-header
    [class.header-hidden]="headerHidden"
    [class.header-visible]="!headerHidden"
  >
  </app-scouter-header>
</ion-header>

<ion-content [fullscreen]="true" class="no-padding-bg">
  <div class="ion-padding">
    <div
      class="paid-dark-card-background relative rounded-lg px-4 py-10 mb-6 overflow-hidden"
    >
      <div class="absolute inset-0 bg-black bg-opacity-0 z-0"></div>

      <div class="relative z-10 text-white">
        <div class="flex items-start gap-3">
          <img [src]="images.ViewHireFolderIcon" alt="" />
          <div class="items-center">
            <span class="font-medium text-[24px] leading-tight"
              >Hi Vikiwest</span
            >
            <p class="text-gray-200 text-lg leading-relaxed">
              View all talents at a glance based on close proximity or needed
              skillset
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="space-y-3">
      <div
        class="flex justify-between bg-[#FFFFFF] items-center border border-[#D0D5DD] px-8 py-4 rounded-md shadow-lg"
      >
        <p>Find professionals by Location</p>
        <ion-icon name="arrow-forward"></ion-icon>
      </div>
      <div
        class="flex justify-between bg-[#FFFFFF] items-center border border-[#D0D5DD] px-8 py-4 rounded-md shadow-lg"
      >
        <p>Find professionals by skill set</p>
        <ion-icon name="arrow-forward"></ion-icon>
      </div>
    </div>

    <p class="text-[16px] text-[#101828] px-1 mt-6 mb-6">
      Locate Professionals based on their specialized skill sets. Identify
      expect proficient in specific fields to match your project or service
      requirements precisely. Narrow down your search and connect with
      professionals equipped with the exact expertise you need.
    </p>

    <div class="w-full mx-auto relative">
      <!-- Input with search button inside -->
      <input
        type="text"
        placeholder="Type a location or skill..."
        [(ngModel)]="searchQuery"
        class="w-full border border-gray-300 rounded-lg pl-10 pr-20 py-4 focus:outline-none focus:ring-2 focus:ring-blue-500"
      />

      <!-- Search Icon on the left -->
      <ion-icon
        name="search"
        class="absolute left-3 top-1/2 -translate-y-1/2 text-gray-400 text-lg"
      ></ion-icon>

      <!-- Search Button on the right -->
      <button
        (click)="performSearch()"
        [disabled]="!searchQuery.trim()"
        class="absolute right-1 top-1/2 -translate-y-1/2 rounded-md px-4 py-2 bg-[#000000] text-white hover:bg-[#000000] hover:text-white disabled:text-[CDD5DF80] disabled:opacity-50 disabled:cursor-not-allowed focus:border-[#000000]"
      >
        Search
      </button>
    </div>
  </div>
  <div id="talentsMap" class="w-full h-[50vh] mt-6 rounded-lg shadow-lg"></div>

  <!-- Popup for marker info -->
  <div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content"></div>
  </div>
</ion-content>
