<ion-header>
  <app-talent-header [class.header-hidden]="headerHidden" [class.header-visible]="!headerHidden">
  </app-talent-header>

  <div class="relative rounded-lg px-4 py-10 mb-6 overflow-hidden"
    style="background-image: url('assets/images/Log-complaint-background.png'); background-size: cover; background-position: center;">
    <!-- Dark overlay -->
    <div class="absolute inset-0 bg-black bg-opacity-60 z-0"></div>

    <!-- Content on top -->
    <div class="relative z-10 text-white">
      <div class="flex items-start gap-3">
        <img [src]="'assets/images/viewHiresFolder.png'" alt="" class="w-12 h-12 object-contain" />
        <div class="items-center">
          <span class="font-medium text-[24px] leading-tight">Hi seyiAde</span>
          <p class="text-gray-200 text-lg leading-relaxed">
            View your hires with scouters stated above
          </p>
        </div>
      </div>
    </div>
  </div>
</ion-header>


<ion-content class="ion-padding" *ngIf="hire">

  <h3 class="pb-3 text-[#000000] text-[16px] font-semibold">
    Market Price Preposition:
  </h3>

  <!-- Job Info -->
  <div class="bg-[#CDD5DF] rounded-lg shadow px-3 py-5 space-y-3">
    <p class="flex items-center gap-2">
      <img src="assets/icon/Frame 4798.png" alt="icon" class="w-5 h-5" />
      <span> <strong>Job Description:</strong> {{ hire.jobDescription }} </span>
    </p>

    <p class="flex items-center gap-2">
      <img src="assets/icon/Frame 4798.png" alt="icon" class="w-5 h-5" />
      <span>
        <strong>Amount to Pay:</strong> {{ hire.amount | currency : "₦ " }}
      </span>
    </p>

    <p class="flex items-center gap-2">
      <img src="assets/icon/Frame 4798.png" alt="icon" class="w-5 h-5" />
      <span> <strong>Date of Hire:</strong> {{ hire.date }} </span>
    </p>

    <p class="flex items-center gap-2">
      <img src="assets/icon/Frame 4798.png" alt="icon" class="w-5 h-5" />
      <span> <strong>Your own comment:</strong> {{ hire.yourComment }} </span>
    </p>

    <!-- Rating -->
    <div class="flex items-center gap-2">
      <img src="assets/icon/Frame 4798.png" alt="icon" class="w-5 h-5" />
      <strong>Your Rating:</strong>
      <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
        <ion-icon name="star" (click)="setRating(star)" [class.text-yellow-500]="star <= hire.yourRating"
          [class.text-gray-400]="star > hire.yourRating" class="cursor-pointer text-2xl"></ion-icon>
      </ng-container>
    </div>
  </div>

  <div class="bg-[#CDD5DF] rounded-lg shadow px-3 py-5 space-y-3 mt-4">
    <p class="flex items-center gap-2">
      <img src="assets/icon/Frame 4798.png" alt="icon" class="w-5 h-5" />
      <span class="flex gap-1">
        <strong>Hire Status:</strong>
        <span class="inline-flex items-center gap-2">
          <span class="inline-block h-3 w-3 rounded-full"
            [ngStyle]="{ 'background-color': getStatusColor(hire.offerStatus) }"></span>
          {{ hire.offerStatus }}
        </span>
      </span>
    </p>

    <p class="flex items-center gap-2">
      <img src="assets/icon/Frame 4798.png" alt="icon" class="w-5 h-5" />
      <span> <strong>Talent’s Email:</strong> {{ hire.email }} </span>
    </p>

    <p class="flex items-center gap-2">
      <img src="assets/icon/Frame 4798.png" alt="icon" class="w-5 h-5" />
      <span> <strong>Start Date:</strong> {{ hire.startDate }} </span>
    </p>

    <p class="flex items-center gap-2">
      <img src="assets/icon/Frame 4798.png" alt="icon" class="w-5 h-5" />
      <span>
        <strong>Comment by Talent:</strong> {{ hire.talentComment }}
      </span>
    </p>

    <!-- Talent Rating -->
    <div class="flex items-center gap-2">
      <img src="assets/icon/Frame 4798.png" alt="icon" class="w-5 h-5" />
      <strong>Talent Rating:</strong>
      <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
        <ion-icon name="star" [class.text-yellow-500]="star <= hire.talentRating"
          [class.text-gray-400]="star < hire.talentRating" class="text-2xl"></ion-icon>
      </ng-container>
    </div>
  </div>

  <app-hires-table>
  </app-hires-table>
</ion-content>