.paid-dark-card-background {
  background-image: url("/assets/images/PainDashboardBG.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.paid-dark-card-background::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5); /* just dims the image */
  z-index: 0;
}

.check-icon {
  --ion-icon-width: 20px;
  --ion-icon-height: 20px;
  color: #039855;
  flex-shrink: 0; /* prevent shrinking when text wraps */
}



// market-price-preposition.page.scss

.active-tab {
  position: relative;
  
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #000000; // black color
    border-radius: 2px 2px 0 0;
  }
}

.inactive-tab {
  // Optional: Add any styles for inactive tabs
}
