<body>
  <ion-content class="h-screen [--background:transparent] p-0">
    <ion-grid class="h-full grid grid-rows-4 bg-transparent float-left w-full">
      <ion-row class="flex justify-center items-center bg-transparent">
        <ion-col></ion-col>
      </ion-row>

      <ion-row class="flex justify-center items-center bg-transparent">
        <ion-col>
          <form class="max-w-sm mx-auto" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmitSecurityAnswer()">
            <!-- SECURITY VALIDATION -->
            <div class="w-full max-w-md">
              <div class="bg-white text-left rounded-xl p-6 shadow-lg mx-auto text-black">
                <h2 class="text-2xl font-semibold mb-4">
                  Validate User's Data
                </h2>

                <p class="text-[16px] text-[#101828] mb-6">
                  Select either of the questions below to answer
                </p>

                <!-- Account Type -->
                <div class="flex items-center justify-between mb-8">
                  <label class="flex items-center gap-3">
                    <input type="radio" class="text-[#CC0000] text-[24px]" formControlName="accountType"
                      value="talent" />
                    <span class="text-[18px] text-[#101828]">I'm a Talent</span>
                  </label>

                  <label class="flex items-center gap-3">
                    <input type="radio" class="text-[#CC0000] text-[24px]" formControlName="accountType"
                      value="scouter" />
                    <span class="text-[18px] text-[#101828]">I'm a Scouter</span>
                  </label>
                </div>

                <!-- Unique Identifier -->
                <div *ngIf="showUniqueIdentifier" class="mb-4">
                  <input type="text" formControlName="uniqueIdentifier" placeholder="Input Unique Identifier*" class="w-full border border-[#919194] bg-[#EBEBEB] text-[#000000]
           placeholder:text-[#838383] rounded-md px-4 py-2
           focus:outline-none focus:ring-2 focus:ring-blue-500" />
                </div>

                <!-- Security Question -->
                <div *ngIf="showSecurityFields" class="space-y-4">

                  <!-- Security Question Dropdown -->
                  <div class="relative">
                    <button type="button" (click)="toggleDropdown()" class="w-full border border-[#919194] bg-[#EBEBEB] text-left
             rounded-md px-4 py-2 flex justify-between items-center">
                      <span [ngClass]="{
          'text-[#838383]': !forgotPasswordForm.value.securityQuestion,
          'text-[#000000]': forgotPasswordForm.value.securityQuestion
        }">
                        {{
                        forgotPasswordForm.value.securityQuestion ||
                        'Security Question*'
                        }}
                      </span>

                      <svg class="h-4 w-4 transition-transform" [class.rotate-180]="isDropdownOpen" viewBox="0 0 20 20">
                        <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10
             10.828 5.757 6.586 4.343 8z" />
                      </svg>
                    </button>

                    <!-- Dropdown -->
                    <div *ngIf="isDropdownOpen" class="absolute top-full left-0 w-full mt-1 bg-white
             border border-[#919194] rounded-md shadow-lg z-50
             max-h-48 overflow-y-auto">
                      <div *ngFor="let question of questions" (click)="selectSecurityQuestion(question)"
                        class="px-4 py-2 hover:bg-gray-100 cursor-pointer">
                        {{ question }}
                      </div>
                    </div>
                  </div>

                  <!-- Answer -->
                  <input type="text" formControlName="securityAnswer" placeholder="Answer question selected*" class="w-full border border-[#919194] bg-[#EBEBEB] text-[#000000]
           placeholder:text-[#838383] rounded-md px-4 py-2
           focus:outline-none focus:ring-2 focus:ring-blue-500" />
                </div>

                <div class="mb-4 flex justify-center mt-6">
                  <button type="submit" [disabled]="forgotPasswordForm.invalid"
                    [ngStyle]="{
                          'background-color': forgotPasswordForm.invalid ? '#CDD5DF' : '#101323'
                        }" class="w-full text-white font-bold py-2 px-4 rounded">
                    Submit
                  </button>
                </div>
                <div class="mb-4 flex justify-center">
                  <button type="button" (click)="goBack()"
                    class="bg-[#101323] w-full hover:bg-gray-800 border-gray-700 text-[#FFFFFF] font-bold py-2 px-4 rounded">
                    Route Back
                  </button>
                </div>
              </div>
            </div>
          </form>
        </ion-col>
      </ion-row>


      <ion-row class="flex justify-center items-center bg-transparent">
        <ion-col></ion-col>
      </ion-row>

      <ion-row class="flex justify-center items-center bg-transparent">
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</body>