
.logcomplainModalBG {
  background-image: url("/assets/images/Log-complaint-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  --background: transparent; // override Ionic default background
}
