<body>
  <ion-content class="h-screen [--background:transparent] p-0">
    <ion-grid class="h-full grid grid-rows-4 bg-transparent w-full flex justify-center">
      <ion-row class="flex justify-center items-center bg-transparent">
        <ion-col></ion-col>
      </ion-row>

      <ion-row class="flex justify-center items-center bg-transparent">
        <ion-col>
          <div class="flex justify-center items-center h-full">
            <div class="w-full max-w-md bg-white rounded-xl p-6 shadow-lg">

              <h2 class="text-[28px] text-[#101828] font-semibold mb-2">
                Create a New Password
              </h2>

              <p class="text-[16px] text-[#101828] mb-6">
                Input a password satisfying the password guide
              </p>

              <div class="mb-4">
                <label class="text-sm font-medium">Password</label>
                <div class="relative">
                  <input [type]="showPassword ? 'text' : 'password'" formControlName="password" class="w-full mt-2 mb-2 border rounded-md px-4 py-2 bg-[#F2F4F7]" />
                  <button type="button" (click)="togglePasswordVisibility()" class="absolute right-2 top-3 text-sm">{{ showPassword ? 'Hide' : 'Show' }}</button>
                </div>
              </div>

              <div class="mb-4">
                <label class="text-sm font-medium">Confirm Password</label>
                <div class="relative">
                  <input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword" class="w-full mt-2 mb-2 border rounded-md px-4 py-2 bg-[#F2F4F7]" />
                  <button type="button" (click)="toggleConfirmPasswordVisibility()" class="absolute right-2 top-3 text-sm">{{ showConfirmPassword ? 'Hide' : 'Show' }}</button>
                </div>
              </div>

              <div class="mb-4 flex justify-center">
                <button type="button" (click)="toggleGuide()" class="bg-[#101323] w-[365px] hover:bg-gray-800 border-gray-700 text-[#FFFFFF] hover:text-gray-100 font-bold py-2 px-4 rounded"> Toggle Password Guide </button>
              </div>

              <div *ngIf="showGuide" class="text-xs text-center text-black mb-4">
                <p class="my-1">* Password must contain at least 8 characters</p>
                <p class="my-1">* Password must contain at least 1 digit</p>
                <p class="my-1">* Password must contain at least 1 small case letter</p>
                <p class="my-1">* Password must contain at least 1 capital case letter</p>
                <p class="my-1">* Password must contain at least a symbol</p>
                <p class="my-1">* Password must match the confirm passwords</p>
              </div>

              <button type="button" (click)="submit()" [disabled]="form.invalid" [ngClass]="form.valid ? 'bg-[#101323] text-white' : 'bg-[#D0D5DD] text-white'" class="w-full py-3 rounded-md font-semibold mb-3">Proceed</button>

              <button type="button" (click)="goBack()" class="bg-[#101323] hover:bg-gray-800 border-gray-700 text-[#FFFFFF] font-bold py-3 px-4 rounded w-full">Route Back</button>

            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</body>
