.paid-dark-card-background {
  background-image: url("/assets/images/PainDashboardBG.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.paid-dark-card-background::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5); /* just dims the image */
  z-index: 0;
}

.pagination-button {
  border: 1px solid #d0d5dd !important; /* gray-400 */
  border-radius: 0.5rem; /* rounded-lg */
}

.slide-container {
  overflow: hidden; // keep it neat
  white-space: nowrap; // prevent wrapping
  width: 100%; // full width
}

.slide-inner {
  display: inline-block;
  white-space: nowrap;
}

.slide-inner span {
  display: inline-block;
  padding-right: 100%; // ensures smooth looping
  animation: slide-left linear infinite;
}

@keyframes slide-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
