<ion-header>
  <app-scouter-header
    [class.header-hidden]="headerHidden"
    [class.header-visible]="!headerHidden"
  >
  </app-scouter-header>
</ion-header>

<ion-content>
  <!-- LOADING STATE -->
  <div
    *ngIf="isLoading"
    class="flex flex-col items-center justify-center h-screen"
  >
    <ion-spinner name="crescent" class="text-2xl"></ion-spinner>
    <p class="mt-4 text-gray-600">Fetching your payment status...</p>
  </div>

  <!-- UNPAID OR PENDING -->
  <div *ngIf="!isLoading && paymentStatus.status !== 'true'">
    <div
      class="border border-[#33333333] bg-[#CDD5DF80] w-[95%] mx-auto mt-6 px-4 py-4 rounded-xl"
    >
      <div class="flex gap-2 items-center h-16">
        <ion-icon
          class="h-7 w-7 font-bold"
          name="information-circle-outline"
        ></ion-icon>
        <span>
          Hi <span class="font-bold">{{ userName }}</span
          >,
          <span
            class="font-bold text-[16px] text-[#444444] cursor-pointer underline"
            (click)="openUploadScreenshotPopup()"
          >
            Click here
          </span>
          to upload screenshot evidence of your payment receipt
        </span>
      </div>
    </div>

    <div class="w-full h-full">
      <img class="mx-auto w-full" [src]="images.NoDataImage" alt="No Data" />
      <div class="text-center space-y-2">
        <h3 class="text-[#000000] font-semibold text-[20px]">
          Oops! No Data Available
        </h3>
        <p class="text-[#000000] text-[16px]">No record exists for now</p>
      </div>
    </div>
  </div>

  <!-- PAID -->
  <div *ngIf="!isLoading && paymentStatus.status === 'true'">
    <div
      class="border border-[#33333333] bg-[#CDD5DF80] w-[95%] mx-auto mt-6 px-4 py-4 rounded-xl"
    >
      <div class="flex gap-2 items-center h-[10%]">
        <ion-icon
          class="h-7 w-7 font-bold"
          name="information-circle-outline"
        ></ion-icon>
        <span>
          Hi <span class="font-bold">{{ userName }}</span
          >,
          <span class="font-bold text-[16px] text-[#444444]">
            Congratulations!....
          </span>
          please find below your evidence of one-year account activation
          uploaded on {{ uploadTimeFormatted }}
        </span>
      </div>
    </div>

    <div class="mt-4 text-center">
      <img
        [src]="paymentStatus?.receiptUrl"
        alt="Receipt"
        class="h-[70%] w-[70%] mx-auto shadow-md"
      />
      <div class="mt-4 space-y-3 px-16 w-96 items-start flex flex-col">
        <button
          class="bg-[#101828] text-white px-4 py-4 rounded-lg"
          (click)="downloadReceipt()"
        >
          Download Receipt
        </button>

        <button
          class="bg-[#101828] text-white px-4 py-4 rounded-lg"
          (click)="openUploadScreenshotPopup()"
        >
          Upload new Receipt?
        </button>

        <button
          class="bg-[#101828] text-white px-4 py-4 rounded-lg"
          (click)="routeBack()"
        >
          Route Back
        </button>
      </div>
    </div>
  </div>
</ion-content>