<ion-header>
  <!-- HEADER -->
  <div
    class="logcomplainModalBG flex justify-between items-center px-4 py-3 border-b flex-shrink-0"
  >
    <h2 class="text-lg font-bold text-white">Fund Transfer Form</h2>
    <button (click)="closeModal()" class="text-white hover:text-gray-700">
      ✕
    </button>
  </div>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="transferForm" (ngSubmit)="createFundTransfer()">
    <!-- Info Note -->
    <div
      class="flex items-center gap-3 mb-3 bg-[#CDD5DF33] border border-[#33333333] rounded-xl py-4 px-6 mt-[4%]"
    >
      <span class="font-normal text-[16px] leading-tight text-[#444444]">
        Transfer funds from your wallet account to other wallets.
      </span>
    </div>

    <!-- Account Number -->
    <div class="space-y-2 mt-8">
      <label class="text-[#344054] text-[14px]">Designated Wallet Acct Number</label>
      <input
        type="text"
        formControlName="accountNumber"
        placeholder="i.e 0123456787"
        class="border border-[#D9DCE5] px-3 py-4 w-full rounded-lg bg-white"
        inputmode="numeric"
        pattern="[0-9]*"
      />
      <div *ngIf="isLoading" class="absolute right-3 top-1/2 -translate-y-1/2 flex items-center space-x-2">
        <span class="text-xs text-blue-700 italic">Processing...</span>
        <div class="w-4 h-4 border-2 border-blue-600 border-t-transparent rounded-full animate-spin"></div>
      </div>

      <div *ngIf="transferForm.get('accountNumber')?.touched && transferForm.get('accountNumber')?.invalid" class="text-red-500 text-sm">
    <span *ngIf="transferForm.get('accountNumber')?.errors?.['required']">
      Account number is required.
    </span>
        <span *ngIf="transferForm.get('accountNumber')?.errors?.['pattern']">
      Must be 11 digits only.
    </span>
      </div>

    </div>


    <!-- Wallet Name -->
    <div class="space-y-2 mt-8">
      <label class="text-[#344054] text-[14px]">Designated Wallet Name</label>
      <input
        type="text"
        readonly
        formControlName="walletName"
        class="border border-[#D9DCE5] px-3 py-4 w-full rounded-lg bg-white"
      />
      <div
        *ngIf="
          transferForm.get('walletName')?.touched &&
          transferForm.get('walletName')?.invalid
        "
        class="text-red-500 text-sm"
      >
        Wallet name is required (min 3 characters).
      </div>
    </div>

    <!-- Amount -->
    <div class="space-y-2 mt-8">
      <label class="text-[#344054] text-[14px]">Input Amount to transfer</label>
      <input
        type="number"
        formControlName="amount"
        placeholder="₦ 700,000"
        class="border border-[#D9DCE5] px-3 py-4 w-full rounded-lg bg-white"
      />
      <div
        *ngIf="
          transferForm.get('amount')?.touched &&
          transferForm.get('amount')?.invalid
        "
        class="text-red-500 text-sm"
      >
        <span *ngIf="transferForm.get('amount')?.errors?.['required']">
          Amount is required.
        </span>
        <span *ngIf="transferForm.get('amount')?.errors?.['min']">
          Amount must be at least ₦100.
        </span>
      </div>
    </div>

    <!--Market Hire Reference Id -->
    <div class="space-y-2 mt-8">
      <label class="text-[#344054] text-[14px]">
        Market Hire Reference Date Id (From Talent's mail)
      </label>
      <input
        type="text"
        formControlName="marketHireDateReferenceId"
        placeholder="i.e 24-January-2026-1:27am"
        class="border border-[#D9DCE5] px-3 py-4 w-full rounded-lg bg-white"
      />
    </div>

    <!-- Terms -->
    <div class="flex items-center gap-4 mt-4">
      <input type="checkbox" formControlName="agreeTerms" />
      <span
        >I agree with
        <span class="text-blue-500">terms and conditions</span></span
      >
    </div>
    <div
      *ngIf="
        transferForm.get('agreeTerms')?.touched &&
        transferForm.get('agreeTerms')?.invalid
      "
      class="text-red-500 text-sm"
    >
      You must accept the terms before continuing.
    </div>
  </form>

  <div class="bg-white mt-10 pt-2 pb-16 flex justify-end">
    <button
      (click)="createFundTransfer()"
      class="px-4 py-2 w-full items-center text-center bg-gray-800 text-white rounded-lg hover:bg-gray-700"
    >
      Create Fund Withdrawal
    </button>
  </div>
</ion-content>
