<ion-header>
  <!-- HEADER -->
  <div
    class="logcomplainModalBG flex justify-between items-center px-4 py-3 border-b flex-shrink-0"
  >
    <h2 class="text-lg font-bold text-white">Fund Withdrawal Form</h2>
    <button (click)="closeModal()" class="text-white hover:text-gray-700">
      ✕
    </button>
  </div>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="transferForm" (ngSubmit)="createFundTransfer()">
    <!-- Info Note -->
    <div
      class="flex items-center gap-3 mb-3 bg-[#CDD5DF33] border border-[#33333333] rounded-xl py-4 px-6 mt-[4%]"
    >
      <span class="font-normal text-[16px] leading-tight text-[#444444]">
        Transfer funds from your wallet account to other wallets.
      </span>
    </div>

    <!-- Bank Dropdown (use select for simplicity) -->
    <div class="relative w-full">
      <label>Select a Bank</label>
      <div class="mt-2">
        <select
          formControlName="bank"
          name="bank"
          class="border border-[#D9DCE5] rounded-md px-4 py-3 w-full bg-[#F6F6F6]"
        >
          <option [ngValue]="null">Choose a bank</option>
          <option *ngFor="let b of banks" [value]="b">{{ b }}</option>
        </select>
        <div
          *ngIf="
            transferForm.get('bank')?.touched &&
            transferForm.get('bank')?.invalid
          "
          class="text-red-500 text-sm"
        >
          Bank is required
        </div>
      </div>
    </div>

    <!--  Acc -->
    <div class="space-y-2 mt-8">
      <label for="" class="text-[#344054] text-[14px]"
        >Designated Wallet Acc Number</label
      >
      <input
        type="number"
        formControlName="accountNumber"
        placeholder="3056578914"
        class="border border-[#D9DCE5] px-3 py-4 w-full rounded-lg bg-white"
      />
      <div
        *ngIf="
          transferForm.get('accountNumber')?.touched &&
          transferForm.get('accountNumber')?.invalid
        "
        class="text-red-500 text-sm"
      >
        Valid account number required
      </div>
    </div>

    <!-- Wallet Name -->
    <div class="space-y-2 mt-8">
      <label for="" class="text-[#344054] text-[14px]"
        >Designated Wallet Name</label
      >
      <input
        type="text"
        formControlName="walletName"
        placeholder="Viki West"
        class="border border-[#D9DCE5] px-3 py-4 w-full rounded-lg bg-white"
      />
    </div>

    <!-- Amount -->
    <div class="space-y-2 mt-8">
      <label for="" class="text-[#344054] text-[14px]"
        >Input Amount to transfer</label
      >
      <input
        type="number"
        formControlName="amount"
        placeholder="₦ 700,000"
        class="border border-[#D9DCE5] px-3 py-4 w-full rounded-lg bg-white"
      />
    </div>

    <!-- Info Note -->
    <div
      class="flex items-center gap-3 mb-3 bg-[#DDE3EC] border border-[#A3AFE3] rounded-xl py-4 px-6 mt-[10%]"
    >
      <ion-icon
        class="h-7 w-[15%] text-blue-700"
        name="information-circle"
      ></ion-icon>
      <span class="font-normal text-[16px] leading-tight text-[#1E4E99]">
        Important!: Due to bank Charges, a 200.00 charge shall be deducted from
        this transaction.
      </span>
    </div>

    <!-- Terms -->
    <div class="flex items-center gap-4 mt-4">
      <input type="checkbox" formControlName="agreeTerms" />
      <span
        >I agree with
        <span class="text-blue-500">terms and conditions</span></span
      >
    </div>
  </form>

  <div class="bg-white mt-10 pt-2 pb-16 flex justify-end">
    <button
      (click)="createFundTransfer()"
      class="px-4 py-2 w-full items-center text-center bg-gray-800 text-white rounded-lg hover:bg-gray-700"
    >
      Create Fund Withdrawal
    </button>
  </div>
</ion-content>
