<div class="flex border-b border-gray-300 mb-4">
  <button
    class="flex-1 py-5 text-center font-medium text-sm transition relative"
    [ngClass]="
      activeTab === 'engagements'
        ? 'text-black after:absolute after:bottom-0 after:left-0 after:right-0 after:h-[2px] after:bg-black'
        : 'text-gray-500'
    "
    (click)="setTab('engagements')"
  >
    All Market Engagements
  </button>

  <button
    class="flex-1 py-5 text-center font-medium text-sm transition relative"
    [ngClass]="
      activeTab === 'stats'
        ? 'text-black after:absolute after:bottom-0 after:left-0 after:right-0 after:h-[2px] after:bg-black'
        : 'text-gray-500'
    "
    (click)="setTab('stats')"
  >
    All Market Stats
  </button>
</div>

<!-- TAB CONTENT -->
<div *ngIf="activeTab === 'engagements'">
  <!-- 👇 Pass event up -->
  <app-market-engagements-table 
    (hireSelected)="hireSelected.emit($event)">
  </app-market-engagements-table>
</div>

<div *ngIf="activeTab === 'stats'">
  <app-market-stats></app-market-stats>
</div>
